@import url("./font_lato.css");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font: 10px Lato, sans-serif;  
}


.wrapper {
  width: 1020px;
  margin: auto;
}

.portfolio {
  height: 864px;
  background-color:#2d303a;
  border-bottom: 6px solid #323746;
}

h2 {
  color: #666d89;
  font-size: 30px;
  font-weight: 900;
}

.portfolio__header {
  padding-top: 60px;
  padding-left: 40px;
}

.about-us__header {
  padding-top: 59px;
  padding-left: 40px;
}


.portfolio__paragraph, .about-us__paragraph {
  width: 940px;
  color: #767e9e;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7em;
  text-align: justify;
  margin-top: 18px;
  margin-left: 40px;
}

.portfolio__filters {
  display: flex;
  margin: 11px 0 19px 41px;
  
}

.portfolio__filters-btn {
  cursor: pointer;
  color: #767e9e;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid #767e9e;
  border-radius: 5px; 
  padding: 2px 6px 3px 6px;
  margin-right: 10px;
}

.portfolio__filters-btn:hover {
  color: white;
  border-color: white;
}

.selected {
  color: white;
  border-color: white;
}

.portfolio__layout-4-col {
  width: 941px;
    height: 603px;
    margin-left: 40px;
}

.portfolio__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 100%;
}

.about-us {
  background-color: #f2f2f2;
  height: 728px;
  border-bottom: 6px solid white;
}

.about-us__team-3-col {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 500px;
  width: 940px;
  margin-left: 40px;
  margin-top: 45px;
  overflow: hidden;
}

.team-member__social-btn {
  display: flex;
}

.team-member {
  width: 300px;
  height: 500px;
  overflow: hidden;
}

.team-member__name {
  color: #666d89;
  font-size: 18px;
  font-weight: 900;
  margin-top: 13px;
  letter-spacing: -0.2px;
  white-space: nowrap;
}

.team-member__info {
  color: #767e9e;
  font-size: 12px;
  font-weight: 400;
  margin-top: 8px;
  line-height: 1.8em;
  letter-spacing: -0.06px;
}

.team-member__social-btn {
  margin-top: 24px;
}

.team-member__social-btn_one-button {
  margin-right: 8px;
}

.team-member__social-btn_one-button:hover {
  filter: brightness(0.25); 
}